@use "../../scss/breakpoints";

.employees-tile {
  $block-name: &; // #{$block-name}__element

  overflow: hidden;
  border: 1px solid #d6d6d6;
  border-radius: 6px;

  &__image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  &__info {
    padding: 20px;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 19px;
    line-height: 1.3158;
  }

  &__position {
    margin-top: 3px;
    color: #6a6c72;
    font-size: 15px;
    line-height: 1.4
  }
}
