//- Basic page template

include mixins.pug

- var isMainPage = false
- var pageTitle = "title"
- var metaDescription = "description"
- var metaKeywords = "keywords"
- var json = locals
- var path = pugPaths
- var isNav = nav
- var isLibrary = library

block variables

doctype html
html(class="no-js", lang="ru")
  include ./template__default-head.pug

  body.loader
    if isNav
      include ../service/project-nav.pug

    +header
    +menu
    block content
      .content-filler content-filler
    +footer

    block templates

    script(src= path.js + "script.js")

    block scripts
