@use "../../scss/breakpoints";

.about-grid {
  $block-name: &; // #{$block-name}__element

  display: grid;
  gap: 90px;
  padding: 0 0 40px;

  // stylelint-disable-next-line
  @media screen and (min-width: 681px) {
    padding: 40px 0;
  }

  // stylelint-disable-next-line
  @media screen and (min-width: 768px) {
    padding: 40px 0;
  }

  // stylelint-disable-next-line
  @media screen and (min-width: 1200px) {
    padding: 10px 0 50px;
  }

  &__item {
    display: grid;
    gap: 48px;

    // stylelint-disable-next-line
    @media screen and (min-width: 768px) {
    	grid-template-columns: 1fr 1fr;
    }
  }

  &__item--reverse &__col {
    // stylelint-disable-next-line
    @media screen and (min-width: 768px) {
      &:nth-child(1) {
        grid-column: 2/3;
      }

      &:nth-child(2) {
        grid-row: 1;
        grid-column: 1/2;
      }
    }
  }

  &__title {
    margin: 0 0 10px;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
  }

  &__p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
  }

  &__image {
    display: block;
    max-width: 100%;
    border-radius: 6px;
  }
}
