@use "../../scss/breakpoints";

.card-product {
  $block-name: &; // #{$block-name}__element

  padding-bottom: 35px;

  &__left {
    position: relative;
    flex: 0 0 35%;
    max-width: 35%;
    margin: 0;

    @media (max-width: 1100px) {
      display: block;
      flex: 0 0 65%;
      max-width: 65%;
      margin-top: 30px;
      margin-right: 5%;
    }

    @media (max-width: 768px) {
      flex: 0 0 auto;
      width: 100%;
      max-width: none;
      margin-right: 0;
    }
  }

  &__left--indent {
    padding: 30px;
  }

  &__left--button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    @media screen and (max-width: 576px) {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}
