@use "../../scss/breakpoints";

.another-news {
  $block-name: &; // #{$block-name}__element

  padding: 40px 0 76px;

  &__title {
    margin: 0 0 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
  }

  &__row {
    display: grid;
    gap: 24px;

    @media screen and (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
