extends ../templates/template__default.pug

block variables
  - isMainPage = false
  - pageTitle = "Вакансии"
  - metaDescription = "description"
  - metaKeywords = "keywords"

block content
  main.main
    .page__wrap.vacancy-block
      .breadcrumbs
        ul
          li
            a.page__link.breadcrumbs__link(href="javascript: void(0);"): span Главная
          li
            a.page__link.breadcrumbs__link(href="javascript: void(0);"): span Вакансии
      h1.page__title Вакансии
      .vacancy-block__grid
        each tile in [1, 2, 3, 4]
          .vacancy-block__tile
            .vacancy-block__tile-inner
              h2.vacancy-block__tile-title Разработчик платформы данных в Yandex
              p.vacancy-block__tile-p.
                Без баз данных не обходится ни один проект, сервис или информационная система.
                Мы ищем человека, который будет заниматься развитием инфраструктуры вокруг популярных открытых СУБД
              a.vacancy-block__tile-link(href="#") Подробнее
                svg.vacancy-block__tile-icon
                  use(href= path.icon + "icon__arrow--ext")
            image.vacancy-block__tile-image(src= path.img + "vacancy__image.webp", alt="Человек за компьютером")
