@use "../../scss/breakpoints";

.news-block {
  $block-name: &; // #{$block-name}__element

  padding-bottom: 60px;

  &__grid {
    display: grid;
    gap: 24px;

    @media screen and (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
