.form {
  $block-name: &; // #{$block-name}__element

  display: grid;
  gap: 24px;
  width: 100%;

  // stylelint-disable-next-line
  .page__btn {
    justify-self: start;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
